* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar,
.footer {
  flex: 0 0 auto;
}

.navbar {
  margin-bottom: 8rem;
}

.container {
  flex: 1 1 auto;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 160px;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e6e8e7;
  padding: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.form-group {
  margin: 40px;
}

.form-control {
  display: flex;
  margin-bottom: 30px;
}

.form-control .form-label {
  flex: 30%;
  line-height: 2.5;
}

.form-control .form-input {
  flex: 70%;
}

.dynamic-form {
  display: flex;
  flex-direction: column;
}

.dynamic-input {
  margin-bottom: 20px;
}

.btn {
  background-color: mediumspringgreen;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}